aioredis==2.0.1
aiosmtplib==2.0.1
aniso8601==9.0.1
anyio==3.6.2
argcomplete==2.0.0
asgiref==3.6.0
async-timeout==4.0.2
bcrypt==4.0.1
Beaker==1.10.0
beautifulsoup4==4.11.2
blinker==1.5
blivet==3.5.0
blivet-gui==2.4.0
Brlapi==0.8.4
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.3
click8==8.0.1
colorama==0.4.6
cryptography==39.0.0
cupshelpers==1.0
dasbus==1.6
dataconverters==0.3
dbus-python==1.3.2
Deprecated==1.2.13
distro==1.7.0
# Editable install with no version control (Django==4.1.7)
-e /home/hercules/.local/lib/python3.11/site-packages
dnspython==2.3.0
email-validator==1.3.1
fakeredis==2.7.1
fastapi==0.89.1
fastapi-mail==1.2.5
favicon==0.7.0
fedora-third-party==0.10
file-magic==0.4.0
flake8==6.0.0
fros==1.1
google-api-core==2.11.0
google-api-python-client==2.76.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
googleapis-common-protos==1.58.0
gpg==1.17.0
gunicorn==20.1.0
h11==0.14.0
html5lib==1.1
httpcore==0.16.3
httplib2==0.21.0
httpx==0.23.3
humanize==3.13.1
idna==3.4
itsdangerous==2.0.1
Jinja2==3.1.2
json-table-schema==0.2.1
jwt==1.3.1
langtable==0.0.61
libcomps==0.1.18
libvirt-python==8.6.0
lxml==4.9.1
Mako==1.1.4
Markdown==3.4.1
MarkupSafe==2.1.2
mccabe==0.7.0
messytables==0.15.2
mod-wsgi==4.9.1
mysql-connector-python==8.0.31
nftables==0.1
numpy==1.24.2
oauthlib==3.2.2
olefile==0.46
packaging==23.0
pandas==1.5.3
Paste==3.5.0
pexpect==4.8.0
pid==2.2.3
Pillow==9.2.0
ply==3.11
productmd==1.35
protobuf==3.19.6
ptyprocess==0.6.0
pwquality==1.4.5
pyasn==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.21.0
pycodestyle==2.10.0
pycparser==2.21
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.45.1
pydantic==1.10.4
pyenchant==3.2.2
pyflakes==3.0.1
PyGObject==3.42.2
PyJWT==2.6.0
pykickstart==3.41
pymongo==4.3.3
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyparted==3.12.0
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-magic==0.4.27
python-meh==0.50
python-multipart==0.0.5
pytz==2022.7.1
pyudev==0.23.2
pyxdg==0.27
PyYAML==6.0
ranger-fm==1.9.3
redis==4.4.2
regex==2022.10.31
requests==2.28.2
requests-file==1.5.1
requests-ftp==0.3.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
rpm==4.18.0
rsa==4.9
selinux==3.4
sepolicy==3.4
setools==4.4.0
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sos==4.4
soupsieve==2.3.2.post1
sqlparse==0.4.3
starlette==0.22.0
systemd-python==235
Tempita==0.5.2
tk==0.1.0
types-itsdangerous==1.1.6
typing_extensions==4.4.0
tzdata==2022.7
uritemplate==4.1.1
urllib3==1.26.8
uuid==1.30
uvicorn==0.20.0
webencodings==0.5.1
Werkzeug==2.2.2
wrapt==1.14.1
xlrd==2.0.1
